# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# This file defines ownership of files and will automatically request review from
# relevant reviewers depending on the files effected
*       @FitnessKeeper/infrastructure
